<!DOCTYPE html>
<html>
  <head>
    <title>BooksManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "books", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-brand">
        <i class="fas fa-book"></i>
        <h1>Books Management</h1>
      </div>
      <div class="navbar-links">
        <%= link_to "Home", root_path %>
        <%= link_to "Books" , rails_books_index_path %>
        <%= link_to "Profile" , profile_path %>
        <%= link_to "Log In", user_session_path %>

        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <% end %>

      </div>
    </div>
    <%= yield %>
  </body>
</html>
