<div class="container">
  <h2>Change Profile Picture</h2>
  <%= form_for(:user, url: update_avatar_path, html: { method: :patch, multipart: true }) do |f| %>
    <div class="form-group" style="margin-left: 50px">
    <%= image_tag rails_storage_proxy_path(current_user.avatar), class: "profile-pic-edit" %>
      <div style="margin-left: 50px">
        <%= f.label :avatar, "Change Profile Picture:-" %><br/>
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="actions" style="margin-left: 300px">
      <%= f.submit "Update Profile Picture" %>
    </div>
  <% end %>
</div>

<div class="container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div style="color: red; margin-left: 220px; font-size: 15px; margin-bottom: 30px">
      <i>(leave blank if you dont want to change it)</i>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="form-group">
    <%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password" %> <br/>
    </div>
    <i style="color: red; margin-left: 250px; font-size: 15px;">(we need your current password to confirm your changes)</i><br/><br/>
    
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>

<div class="container">
  <h2>Cancel My Account</h2><br/>
  <div class="form-group">
    <div>Are you sure you want to cancel your account? </div>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
  </div>
</div><br/>

<%= link_to "Back", :back , style: "margin-left: 10px" %>