<div style="display: flex">
  <div class="container">
    <h2>Update Book</h2>
    <form action="/books/<%= @book.id %>" method="put" class="book-form">
      <div class="form-group">
        <label for="title"> Title: </label>
        <input type="text" id="title" name="title" value="<%= @book.title %>" required>
      </div>
      <div class="form-group">
        <label for="author"> Author: </label>
        <input type="text" id="author" name="author" value="<%= @book.author %>" required>
      </div>
      <div class="form-group">
        <label for="genre"> Genre: </label>
        <input type="text" id="genre" name="genre"  value="<%= @book.genre %>" required>
      </div>
      <div class="form-group">
        <label for="quantity"> Quantity:</label>
        <input type="text" id="quantity" name="quantity" value="<%= @book.quantity %>" required>
      </div>
      <button type="submit" class="submit-btn"> Update </button>
    </form>
    <a style="margin-left: 10px" href="/books/index"> Back </a>
  </div>

  <div class="container">
    <h2>Update Book (Rails form)</h2>
    <%= form_with url: rails_books_update_path(@book.id), method: :put, class: "book-form" do |form| %>
      <div class="form-group">
        <%= form.label :title, "Title:" %>
        <%= form.text_field :title, value: @book.title %> 
      </div>
      <div class="form-group">
        <%= form.label :author, "Author:" %>
        <%= form.text_field :author , value: @book.author%>
      </div>
      <div class="form-group">
        <%= form.label :genre, "Genre:" %>
        <%= form.text_field :genre , value: @book.genre%>
      </div>
      <div class="form-group">
        <%= form.label :quantity, "Quantity:" %>
        <%= form.text_field :quantity , value: @book.quantity%>
      </div>
      <%= form.submit "Save" ,class: "submit-btn" %>
    <% end %>
    <%= link_to "Back" , rails_books_index_path, style: "margin-left: 10px"%>
  </div>
<div>