<br/>
<div class="button-group">
  <a href="/books/new" class="button-link">
    <button class="button">Add New Book</button>
  </a>
  <a href="/books/index" class="button-link">
    <button class="button">View All Books</button>
  </a>
</div><br/>

<div class="button-group">
  <%= button_to "New" , rails_new_books_path , method: :get, class: "button-link" %>
  <%= button_to "View All" , rails_books_index_path , method: :get , class: "button-link"%>
</div><br/>


<% if current_user && current_user.avatar.attached? %>
  <%= image_tag current_user.avatar.variant(resize_to_fit: [100, 100]).processed %>
  <%= image_tag current_user.avatar.variant(resize_to_limit: [100, 100], rotate: 90).processed %> 
  <%= image_tag current_user.avatar.variant(resize_and_pad: [100, 100], rotate: 180).processed %>
  <%= image_tag current_user.avatar.variant(resize_to_fill: [100, 100], rotate: 270).processed %>
<% end %><br/>

<div>
  <%= link_to "tel:+919588169118" do %>
    <strong>Phone me:</strong> <span>9588169118</span>
  <% end %>
</div>
<div>
  <%= link_to "sms:+919588169118" do %>
    <strong>Text me:</strong> <span>9588169118</span>
  <% end %>
</div>
<div>
  <%= mail_to "nishchay.gupta@berylsystems.com" do %>
    <strong>Email me:</strong> <span>nishchay.gupta@berylsystems.com</span>
  <% end %>
</div><br/>


<%= form_for current_user, url: save_attachments_user_path, html: { multipart: true, method: :post } do |f| %>
  <%= f.label :attachments, "Upload Attachments" %><br/>
  <%= f.file_field :attachments, multiple: true ,required: true%><br/>
  <%= f.submit "Upload Attachments" %>
<% end %>

<% if current_user.attachments.any? %>
  <% current_user.attachments.each do |attachment| %>
    <%= image_tag attachment.url if attachment.present? %>
  <% end %>
<% end %>