<!DOCTYPE html>
<html>
  <head>
    <title>StripeTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="text/javascript">
    window.RHConfig = {
      defaults: {
        form_container_id: "signup-form", // The ID of the div where you want the form to appear.
	      sharing_screen_container_id: "sharing-screen", // The ID of the div where you want the sharing screen. Useful only if you want the sharing screen to appear in a different part of the page. It doesn't work if the popup is enabled
        default_url: "http://localhost:3001", // The URL that will be used to create the referral link.
        source: "Twitter", // The marketing channel the subscribers will be attributed to.
        email: "john@smith.com", // The default value of the email field.
        name: "John Smith", // The default value of the name field.
        extra_field: "USA", // The default value of the extra_field field.
	      extra_field_2: "+1 123456789" // The default value of the second extra_field field.
      },
      settings: {
        track_events: false, //If custom events can be tracked
        one_click_signup: {
          enable: true, // Turn on/off the one-click-signup feature
          name: "rh_name",
          email: "rh_email", // The URL parameter used to extract the email
          extra_field: "rh_extra_field",
          extra_field_2: "rh_extra_field_2"
        },
	      <%# floating_button: {
          enable: true, // Whether or not to enable the Floating Button
          text: "Join our Ambassador Program",
          color: "#1781bb",
          position: "left" // Can be "left", "center" or "right"
        }, %>
        design: {
          enable: true, // If disabled, the form will be loaded without a stylesheet
          custom_css: "",
          colors: {
            primary: "#1781bb"
          }
        },
        form: {
          cover: "https://mywebsite.com/images/cover.jpg",
          header: { text: "Sign up to win", color: "#1781bb" },
          name: { require: true, placeholder: "Your name" },
          email: { placeholder: "Your email" },
          extra_field: { require: false, placeholder: "" },
          extra_field_2: { require: false, placeholder: "" },
          submit_button: {
		        text: "Submit",
		        check_position: "Check status",
        		submitting: "Submitting...",
        		color: "#1781bb"
	        },
          status: { text: "Check status", back: "Back" },
          terms_conditions: {
	  	      require: true,
        		text: "I accept the terms and conditions",
        		url: "https://mywebsite.com/legal/terms"
	        }
        },
        sharing: {
          redirection: {
            enable: false, // Enabele/disable redirectoin after sign up
            url: ""
          },
          popup: false,
          open_if_signed_up: true,
          header: { text: "Congratulations, you're in!", color: "#222" },
          subheader: {text: "", color: "#bbb" },
          people_referred: { show: true, text: "Your referrals" },
          position: { show: true , text: "Your position", ordinal: true },
          instructions: "Refer your friends with the link below",
          referral_link: { copy_button: "Copy", copied_button: "Copied" },
          verification: {
            text: "Don't forget to confirm your email",
            reminder_email: "Your email hasn't been verified yet.<br>Check your inbox - including the junk folder - and if you don't find it click the link below to resend it.",
            resend_email: "Resend confirmation email",
            resending_email: "Sending email...",
            email_replace: "confirm your email", // The string that will be replaced with a link to popular email providers. Try to signup with a @gmail.com email.
            email_resent: "Email has been sent. Check your inbox."
          },
          socials: {
            twitter: { show: true, message: "I just signed up on this awesome website! %referral_code%" },
            facebook: { show: true },
            facebook_messenger: { show: false },
            email: { show: true, message: "Check this out %referral_code%", subject: "" },
            whatsapp: { show: false, message: "" },
            linkedin: { show: false, message: "" },
            reddit: { show: false, message: "" },
            telegram: { show: false, message: "" },
            line: { show: false, message: "" }
          },
          leaderboard: {
            show: true,
            position: "Position",
            subscriber: "Subscriber",
            points: "Points",
            footnote: "1 referral = 1 point"
          },
          rewards: {
            header: "This is what you can win",
            list: [
          		{ title: "Free Hat", description: "1st position", image: "https://mywebsite.com/images/reward.png"  },
          		{ title: "Free Suite", description: "2nd position", image: "https://mywebsite.com/images/reward.png"  }
          	],
            referrals: "Referrals",
            unlocked: "Unlocked!"
          }
        },
        alerts: {
          subscriber_not_found: "Email not found.",
          subscriber_already_promoted: "You have already been promoted.",
          form_incomplete: "Something is missing. Please fill out the form before submitting.",
          server_problem: "We are experiencing some issues on our server. Please try again.",
	        failed_recaptcha: "It looks like you're a bot.",
          terms_conditions: "You must accept the Terms & Conditions",
        }
      },

    callbacks: {
      onLoad: function() {
        // ... your logic ...
      },
      ready: function() {
        // ... your logic ...
      },
      beforeSubmit: function(data) {
         RH.form.data = {
            name: "Mr "+ data.name,
            email: "john.smith@email.com",
            extra_field: null,
            extra_field_2: null
         }
      },
      success: function(output) {
         // ... your logic ...
         
      },
      afterSuccess: function(output) {
         // ... your logic ...
      },
      error: function() {
        // ... your logic ...
      },
      popupOpen: function() {
        // ... your logic ...
      },
      popupClose: function() {
        // ... your logic ...
      },
      subscriberNotFound: function() {
        // ... your logic ...
      },
      emailNotValid: function(reason) {
        // ... your logic ...
      },
	    serverProblem: function(reason) {
        // ... your logic ...
      },
	    subscriberLoaded: function(response, data) {
        // ... your logic ...
      }
    }
  }
</script>

   <!-- start ReferralHero code -->
    <script>
    !function(m,a,i,t,r,e){if(m.RH)return;r=m.RH={},r.uuid
    =t,r.loaded=0,r.base_url=i,r.queue=[],m.rht=function()
    {r.queue.push(arguments)};e=a.getElementsByTagName('script')
    [0],c=a.createElement('script');c.async=!0,c.src=
    'https://referralhero-global-code.s3.amazonaws.com/'+'development'+
    '/'+t+'.js',e.parentNode.insertBefore(c,e)}(window,document,
    'http://localhost:3000','RH94e81e0534');
    
    </script>
   <!-- end ReferralHero code -->
   
  </head>

  <body>
    
  <nav style="background-color: #333; overflow: hidden; padding: 10px 0;">
    <div style="max-width: 1200px; margin: 0 auto; padding: 0 20px;">
        <%= link_to "Home", customers_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <%= link_to "Payments", new_payment_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <%= link_to "Subscriptions", subscriptions_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <%= link_to "Charges", charges_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <% if user_signed_in? %>
          <%= link_to "LogOut", destroy_user_session_path, method: :delete, redirect_to: user_session_path ,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "color: white; text-decoration: none; float: right;" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, style: "color: white; text-decoration: none; float: right;" %>
        <% end %>
    </div>
  </nav>

  <div style="max-width: 1200px; margin: 20px auto; padding: 0 20px;">
      <%= yield %>
  </div>

  </body>
</html>
