<!DOCTYPE html>
<html>
  <head>
    <title>StripeTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
  <nav style="background-color: #333; overflow: hidden; padding: 10px 0;">
    <div style="max-width: 1200px; margin: 0 auto; padding: 0 20px;">
        <%= link_to "Home", root_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <%= link_to "Customers", customers_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <%= link_to "Payments", new_payment_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <a href="<%= subscriptions_path %>" style="color: white;">Your Subscriptions</a>
        <% if user_signed_in? %>
          <%= link_to "LogOut", destroy_user_session_path, method: :delete, redirect_to: user_session_path ,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "color: white; text-decoration: none; float: right;" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, style: "color: white; text-decoration: none; float: right;" %>
        <% end %>
    </div>
  </nav>

  <div style="max-width: 1200px; margin: 20px auto; padding: 0 20px;">
      <%= yield %>
  </div>

  </body>
</html>
