<!DOCTYPE html>
<html>
  <head>
    <title>StripeTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="text/javascript">
    window.RH_MF1d51603ef5_Config = {
      defaults: {
        form_container_id: "form", // The ID of the div where you want the form to appear.
	      sharing_screen_container_id: "sharing-screen", // The ID of the div where you want the sharing screen. Useful only if you want the sharing screen to appear in a different part of the page. It doesn't work if the popup is enabled
        default_url: "http://localhost:3001", // The URL that will be used to create the referral link.
        source: "Twitter", // The marketing channel the subscribers will be attributed to.
        email: "", // The default value of the email field.
        name: "", // The default value of the name field.
      },


    callbacks: {
      onLoad: function() {
        // ... your logic ...
      },
      ready: function() {
        // ... your logic ...
      },
      beforeSubmit: function(data) {
         
      },
      success: function(output) {
         // ... your logic ...
         
      },
      afterSuccess: function(output) {
         // ... your logic ...
      },
      error: function() {
        // ... your logic ...
      },
      popupOpen: function() {
        // ... your logic ...
      },
      popupClose: function() {
        // ... your logic ...
      },
      subscriberNotFound: function() {
        // ... your logic ...
      },
      emailNotValid: function(reason) {
        // ... your logic ...
      },
	    serverProblem: function(reason) {
        // ... your logic ...
      },
	    subscriberLoaded: function(response, data) {
        // ... your logic ...
      }
    }
  }
</script>

   <!-- start ReferralHero code -->
    <script>
    !function(m,a,i,t,r,e){if(m.RH)return;r=m.RH={},r.uuid
    =t,r.loaded=0,r.base_url=i,r.queue=[],m.rht=function()
    {r.queue.push(arguments)};e=a.getElementsByTagName('script')
    [0],c=a.createElement('script');c.async=!0,c.src=
    'https://referralhero-global-code.s3.amazonaws.com/'+'development'+
    '/'+t+'.js',e.parentNode.insertBefore(c,e)}(window,document,
    'http://localhost:3000','RH94e81e0534');
    
    </script>
   <!-- end ReferralHero code -->
   
  </head>

  <body>
    
  <nav style="background-color: #333; overflow: hidden; padding: 10px 0;">
    <div style="max-width: 1200px; margin: 0 auto; padding: 0 20px;">
        <%= link_to "Home", customers_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <%= link_to "Payments", new_payment_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <%= link_to "Subscriptions", subscriptions_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <%= link_to "Charges", charges_path, style: "color: white; text-decoration: none; margin-right: 20px;" %>
        <% if user_signed_in? %>
          <%= link_to "LogOut", destroy_user_session_path, method: :delete, redirect_to: user_session_path ,
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "color: white; text-decoration: none; float: right;" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, style: "color: white; text-decoration: none; float: right;" %>
        <% end %>
    </div>
  </nav>

  <div style="max-width: 1200px; margin: 20px auto; padding: 0 20px;">
      <%= yield %>
  </div>

  </body>
</html>
